
{% extends "index.html" %}

{% block content %}


<div class="p-5 h-100">
<div class="row justify-content-center align-items-center" style="border:solid 2px;border-radius:30px; padding:10px;">
<h2 style="color:blue;">
Bienvenue dans la plateforme Smart ROAZHON. </h2>
<h4> Un outil d'analyse efficace pour effectuer vos analyses en régression linéaire multiple.</h4>

<h4> Réalisé en partenariat avec :</h4>
</div>




<div class="card-deck" style="padding-top:50px;">
<!-- istic -->

<div class="card">
  <img class="card-img-top p-4" src="/static/img/istic.png" alt="ISTIC" height="126.04px;">
  <div class="card-body">
    <h5 class="card-title">ISTIC</h5>
    <p class="card-text">L'ISTIC est une unité de formation et de recherche de l'université de Rennes 1, 
	qui réunit des enseignants-chercheurs en informatique et en électronique. À ce titre l'ISTIC a une double 
	vocation d'enseignement et de recherche.</p>
	</div>
	<div class="card-footer">
		<a href="https://istic.univ-rennes1.fr/" class="">En savoir +</a>
	</div>
 

</div>

<!-- irisa -->

<div class="card">
  <img class="card-img-top p-4" src="/static/img/irisa.png" alt="IRISA" height="126.04px;">
  <div class="card-body">
    <h5 class="card-title">IRISA</h5>
    <p class="card-text">L’IRISA (Institut de recherche en informatique et systèmes aléatoires), 
	créée en 1975, est une unité mixte de recherche (UMR 6074) en informatique, automatique, traitement du signal et 
	des images et en robotique. 
	</p>
	
  </div>
  <div class="card-footer">
		<a href="https://www.irisa.fr/fr" class="">En savoir +</a>
	</div>

</div>


<!-- druid -->

<div class="card" >
  <img class="card-img-top p-4" src="/static/img/druid.png" alt="DRUID" height="126.04px;">
  <div class="card-body">
    <h5 class="card-title">DRUID</h5>
    <p class="card-text">RUID propose des modèles et des algorithmes pour la gestion et la qualification de données incertaines,
	participatives,	interconnectées et massives (réseaux sociaux, réseaux de capteurs, flux Web, crowdsourcing, ...).</p>
	
  </div>
  <div class="card-footer">
		<a href="https://www-druid.irisa.fr/" class="">En savoir +</a>
	</div>

</div>

<!-- rennes metropole -->

<div class="card" >
  <img class="card-img-top p-4" src="/static/img/Rennes_Métropole.png" alt="Rennes Métropole" height="126.04px;">
  <div class="card-body">
    <h5 class="card-title">RENNES Métropole</h5>
    <p class="card-text">Rennes Métropole est la communauté d'agglomération rennaise. Elle opère aujourd'hui sur 43 communes, 
	dans les domaines ayant une liaison avec l'information, la communication, la documentation, et la conduite de politiques 
	publiques. </p>
	
  </div>
  <div class="card-footer">
		<a href="https://metropole.rennes.fr/" class="">En savoir +</a>
	</div>

</div>


</div>
</div>


{% endblock %}
